<!DOCTYPE html>
<html lang="ru">

<head>
        <meta charset="utf-8">
        <link rel="manifest" href="/manifest">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ ctx.head(test=True) }}</title>
    <link rel="shortcut icon" href="/logo.png">
        <link rel="stylesheet" href="/bootstrap.css">
        <link rel="stylesheet" href="/darkly.css">
        <link rel="stylesheet" href="/css.css">

{% block head %}
{% endblock %}
</head>

<body>

<div class="jumbotron text-center">
  <h1>{{ ctx['MODULE'].val }}</h1>
  <p>{{ ctx['TITLE'].val }}</p>
</div>

<div class="container">

{% block body %}
{% endblock %}

{% block form %}
<form id=cli method=post onkeypress="ctrlEnter(event, this);">
{{form.hidden_tag()}}
{{form.pad()}}
{{form.go()}}
</form>

</div>

{% endblock %}

<script src="/jquery.js"></script>
<script src="/bootstrap.js"></script>
</body>

{% block script %}
<script>

    function ctrlEnter(event, form) {
        if ((event.ctrlKey) && ((event.keyCode == 0x0A) || (event.keyCode == 0x0D)))
            form.go.click();
    }

</script>
{% endblock %}
